<h1>Přehled týmů</h1>

<div id="team_table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Název</th>
        <th>Počet Účastníků</th>
      </tr>
    </thead>
    <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.county.title %></td>
        <td><%= team.participants.size %></td>
      </tr>
    <% end %>
  </table>
</div>
