<div class="col-lg-4" id="county_people">
  <h3><%= @county.title %></h3>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Jméno</th>
        <th>Narozen</th>
      </tr>
    </thead>
    <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><a href="<%= new_race_participant_path(@current_race, prefill_person_id:person.id, prefill_starting_no:@starting_no) %>"><%= person.display_name %></a></td>
        <td><%= person.yob %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
