<div class="btn-group" id="<%= dropdown_id %>">
  <%= top_row %>
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
  <ul class="dropdown-menu">
    <% bottom_rows.each do |row| %>
      <% if row %>
      <li><%= row %></li>
      <% else %>
      <li class="divider" />
      <% end %>
    <% end %>
  </ul>
</div>
