<div class="row">
  <div class="col-md-6">
    <%= link_to "Export CSV", race_data_transfer_index_url(@current_race, :format => :csv), class:"btn btn-primary" %>
  </div>
  <div class="col-md-6">
    <%= form_tag({:action => :create}, :multipart => true) do %>
      <%= submit_tag("Import CSV", class:"btn btn-danger")%>
      <%= file_field_tag 'import'%>
    <% end %>
  </div>
</div>
