<div class="nested-fields">
    <%= f.input :restrict, as: :select, collection:{"Pohlaví"=>"gender","Věk od"=>"min_age","Věk do"=>"max_age"} %>
    <%= f.input :string_value, input_html:{ placeholder:"xx"} %>
    <%= f.input :integer_value %>
    <%= link_to_remove_association "Odebrat", f, class:"btn" %>
</div>
