<div class="nested-fields">
    <%= f.input :restrict, as: :select, collection:{"Pohlaví"=>"gender","Věk od"=>"min_age","Věk do"=>"max_age"} %>
    <%= f.input :value %>
    <%= link_to_remove_association "Odebrat", f, class:"btn btn-danger" %>
</div>
