<h1>Upravit kategorii</h1>

<%= render 'form' %>

<div class="btn-group">
  <%= link_to 'Zobrazit', [@current_race, @category], class:"btn" %>
  <%= link_to 'Zpět', race_categories_path(@current_race), class:"btn" %>
</div>
